.main-container {
    min-height: 90vh;
}

.navbar-image {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 5px;
    width: 30px;
    border-radius: 2px;
}

.user-profile-picture {
    width: 500px;
}


