.navbar-image {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 5px;
    width: 30px;
    border-radius: 2px;
}

.user-profile-picture {
    width: 500px;
}

.main-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-anon-container {
    text-align: center;
}

footer, .home-anon-container {
    margin-top: auto;
}
