.navbar-image {
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 5px;
    width: 30px;
    border-radius: 2px;
}

/* Styles for home-anon page. */

.main-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url("/static/images/home-anon-background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.home-anon-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.welcome-page-buttons {
    margin-bottom: 10px;
}

footer, .home-anon-container {
    margin-top: auto;
}

/* Styles for forms, including signup, login */

.form-section {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

.form-header {
    text-align: center;
}

.form-buttons {
    margin-bottom: 10px;
}

/* Styles for logged in home page */

.welcome-headline, .welcome-links, .location-details, .nearby-restaurants-section {
    text-align: center;
}

.welcome-headline, .welcome-links {
    margin-bottom: 20px;
}

.restaurant-listings {
    display: flex;
    align-items: center;
}

.restaurant-link:hover {
    text-decoration: none;
}

.card-title {
    color: green;
}

.card-text {
    color: black;
}
/* Styles for profile page */

.user-profile-picture {
    width: 400px;
}

.profile-banner, .profile-info {
    text-align: center;
}

.profile-banner {
    margin-bottom: 5vh;
}

.profile-table-row {
    display: flex;
    justify-content: center;
}