{% extends 'base.html' %}

{% block title %} {{restaurant.name}} Details {% endblock %}

{% block content %}
    <img src="{{restaurant.photo_url}}" alt="Photo of {{restaurant.name}}"/>

    <h1 class="display-1">{{restaurant.name}}</h1><br>

    <form method="POST" action="{{url_for('toggle_restaurant_to_favorites', restaurant_id=restaurant.id)}}">
        <button class="btn btn-primary">
        {% if restaurant in g.user.favorite_restaurants %}
          Remove from Favorites <i class="fa-solid fa-star"></i> 
        {% else %}
          Add to Favorites <i class="fa-regular fa-star"></i>
        {% endif %}
        </button>
        <a class="btn btn-info" href="{{url_for('create_restaurant_review', restaurant_id=restaurant.id)}}">
          Create a New Review <i class="fa-solid fa-comment"></i>
        </a>
    </form>

    <p><i class="fa-solid fa-location-dot" title="address"></i> {{restaurant.address or "N/A"}}</p>
    <p><i class="fa-solid fa-globe" title="coordinates"></i> Latitude: {{restaurant.latitude}} Longitude: {{restaurant.longitude}}</p>
    <p><i class="fa-solid fa-phone" title="phone-number"></i> {{restaurant.phone or "N/A"}}</p>

    <p><i class="fa-solid fa-circle-info" title="description"></i> {{restaurant.description or "N/A"}}</p>
    <p><i class="fa-solid fa-utensils" title="cuisines"></i> {{restaurant.cuisines or "N/A"}}</p>

    <h3 class="display-3">Hours:</h3>
    <ul>
        <li>Sunday: {{restaurant.sunday_hours or "N/A"}}</li>
        <li>Monday: {{restaurant.monday_hours or "N/A"}}</li>
        <li>Tuesday: {{restaurant.tuesday_hours or "N/A"}}</li>
        <li>Wednesday: {{restaurant.wednesday_hours or "N/A"}}</li>
        <li>Thursday: {{restaurant.thursday_hours or "N/A"}}</li>
        <li>Friday: {{restaurant.friday_hours or "N/A"}}</li>
        <li>Saturday: {{restaurant.saturday_hours or "N/A"}}</li>
    </ul>

    <h3 class="display-3">All Reviews ({{restaurant_reviews.count()}})</h3>
    <hr>

    {% if restaurant_reviews.count() == 0 %}
      <p>There are no reviews currently for this restaurant. <a class="btn btn-link" href="{{url_for('create_restaurant_review', restaurant_id=restaurant.id)}}">Be the first to add one!</a></p>
    {% endif %}
    {% for review in restaurant_reviews %}
      <h4 class="display-4">{{review.title}}</h4>
      <p>{{review.content}}</p>
      <p class="font-weight-light">By {{review.author.get_full_name()}}, created at {{review.created_at}}</p>
      {% if review.author.id == g.user.id %}
        <br>
        <a class="btn btn-light" href="{{url_for('update_restaurant_review', restaurant_id=restaurant.id, review_id=review.id)}}">
          Edit <i class="fa-solid fa-pencil"></i>
        </a>
      {% endif %}
      <hr>
    {% endfor %}

{% endblock %}