{% extends 'base.html' %}

{% block title %} {{restaurant.name}} Details {% endblock %}

{% block content %}

  <div class="banner container-fluid">
    <img class="main-picture" src="{{restaurant.photo_url}}" alt="Photo of {{restaurant.name}}"/>
    <h1 class="display-1">{{restaurant.name}}</h1>
  </div>

  <div class="restaurant-buttons">
    <form method="POST" action="{{url_for('toggle_restaurant_to_favorites', restaurant_id=restaurant.id)}}">
      <button class="btn btn-primary">
      {% if restaurant in g.user.favorite_restaurants %}
        Remove from Favorites <i class="fa-solid fa-star"></i> 
      {% else %}
        Add to Favorites <i class="fa-regular fa-star"></i>
      {% endif %}
      </button>
      <a class="btn btn-info" href="{{url_for('create_restaurant_review', restaurant_id=restaurant.id)}}">
        Create a New Review <i class="fa-solid fa-comment"></i>
      </a>
    </form>
    <form class="see-menu-button" method="POST" action="{{url_for('add_menu_items_to_db', restaurant_id=restaurant.id)}}">
      <button class="btn btn-secondary">See Menu Items Recognized from this Restaurant</button>
    </form>
  </div>

  <div class="restaurant-info container-fluid">
    <h4 class="display-4">Restaurant Information</h4>
  
    <div class="restaurant-table-row row">
      <div class="col-lg-8 col-md-10 col-12">
        <table class="restaurant-table table table-striped">
          <tbody>
            <tr>
              <th scope="col"><i class="fa-solid fa-location-dot" title="address"></i> Address</th>
              <th scope="col">{{restaurant.address or "N/A"}}</th>
            </tr>
            <tr>
              <th scope="col"><i class="fa-solid fa-globe" title="coordinates"></i> Coordinates</th>
              <th scope="col">Latitude: {{restaurant.latitude}} Longitude: {{restaurant.longitude}}</th>
            </tr>
            <tr>
              <th scope="col"><i class="fa-solid fa-phone" title="phone-number"></i> Phone</th>
              <th scope="col">{{restaurant.phone or "N/A"}}</th>
            </tr>
            <tr>
              <th scope="col"><i class="fa-solid fa-circle-info" title="description"></i> Details</th>
              <th scope="col">{{restaurant.description or "N/A"}}</th>
            </tr>
            <tr>
              <th scope="col"><i class="fa-solid fa-utensils" title="cuisines"></i> Cuisines</th>
              <th scope="col">{{restaurant.cuisines or "N/A"}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h4 class="display-4">Hours</h4>

    <div class="restaurant-hours-table-row row">
      <div class="col-lg-6 col-md-9 col-12">
        <table class="restaurant-table table table-striped">
          <tbody>
            <tr>
              <th scope="col">Sunday</th>
              <th scope="col">{{restaurant.sunday_hours or "N/A"}}</th>
            </tr>
            <tr>
              <th scope="col">Monday</th>
              <th scope="col">{{restaurant.monday_hours or "N/A"}}</th>
            </tr>
            <tr>
              <th scope="col">Tuesday</th>
              <th scope="col">{{restaurant.tuesday_hours or "N/A"}}</th>
            </tr>
            <tr>
              <th scope="col">Wednesday</th>
              <th scope="col">{{restaurant.wednesday_hours or "N/A"}}</th>
            </tr>
            <tr>
              <th scope="col">Thursday</th>
              <th scope="col">{{restaurant.thursday_hours or "N/A"}}</th>
            </tr>
            <tr>
              <th scope="col">Friday</th>
              <th scope="col">{{restaurant.friday_hours or "N/A"}}</th>
            </tr>
            <tr>
              <th scope="col">Saturday</th>
              <th scope="col">{{restaurant.saturday_hours or "N/A"}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>



    <h3 class="display-3">All Reviews ({{restaurant_reviews.count()}})</h3>
    <hr>
  

    {% if restaurant_reviews.count() == 0 %}
      <p>There are no reviews currently for this restaurant. <a class="btn btn-link" href="{{url_for('create_restaurant_review', restaurant_id=restaurant.id)}}">Be the first to add one!</a></p>
    {% endif %}
    {% for review in restaurant_reviews %}
      <h4 class="display-4">{{review.title}}</h4>
      <p>{{review.content}}</p>
      <p class="font-weight-light">By {{review.author.get_full_name()}}, created at {{review.format_created_at()}}</p>
      {% if review.author.id == g.user.id %}
        <br>
        <form method="POST" action="{{url_for('delete_restaurant_review', restaurant_id=restaurant.id, review_id=review.id)}}">
          <a class="btn btn-light" href="{{url_for('update_restaurant_review', restaurant_id=restaurant.id, review_id=review.id)}}">
            Edit <i class="fa-solid fa-pencil"></i>
          </a>
          <button class="btn btn-danger">Delete</button>
        </form>

      {% endif %}
      <hr>
    {% endfor %}

{% endblock %}