{% extends 'base.html' %}

{% block title %} Vouch4Food - Search Results {% endblock %}

{% block content %}
<h2 class="display-2">Search Results: {{number_results}} results</h2>

{% if restaurant_results | count == 0 %}
    <p>Sorry, there were no restaurants matching your search near the zip code you entered.</p>
{% endif %}

{% for restaurant in restaurant_results %}
    {% if restaurant['photo_url'] %}
        <img src="{{restaurant['photo_url']}}" alt="Photo of {{restaurant['name']}}"/>
    {% endif %}
    <p>Name: <a href="{{url_for('display_restaurant_page', restaurant_id=restaurant.id)}}" target="_blank">{{restaurant['name']}}</a> </p>
    <p>Address: {{restaurant['address'] or "N/A"}}</p>
    <p>Cuisine(s): {{restaurant['cuisines'] or "N/A"}}</p>
    <p>About: {{restaurant['description'] or "N/A"}}</p>

    <hr>
{% endfor %}

{% endblock %}