{% extends 'base.html' %}

{% block title %} Vouch4Food - Home {% endblock %}

{% block content %}

<h1 class="display-1">Welcome Home!</h1>

{% if (not g.user.location_lat) and (not g.user.location_long) %}
    <p>You do not yet have a current location.</p>
    <a class="btn btn-warning" href="{{url_for('update_location')}}">Set current location.</a>
{% else %}
    <p>Your current location:</p>
    <p>Zip: {{g.user.address_zip}}</p>
    <p>Longitude: {{g.user.location_long}}</p>
    <p>Latitude: {{g.user.location_lat}}</p>
    <a class="btn btn-warning" href="{{url_for('update_location')}}">Update current location.</a>
{% endif %}

{% endblock %}