{% extends 'base.html' %}

{% block title %} Add Review for {{item.title}} {% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="form-section col-md-10 col-lg-8">
      <h2 class="form-header display-2">Create a New Review for {{item.title}} from {{item.restaurant_chain}}.</h2>
      <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'content' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <div class="form-group">
            {{field.label}}
            {{field(class_="form-control")}}
          </div>
        {% endfor %}

        <div>
          {% if form.content.errors %}
            {% for error in form.content.errors %}
              <span class="text-danger">
              {{ error }}
              </span>
            {% endfor %}
          {% endif %}
          {{ form.content(placeholder="Type your review here", class="form-control", rows="6") }}
        </div>

        <div class="form-buttons">
          <button class="btn btn-success">Create Review</button>
          <a href="{{url_for('display_item_page', item_id=item.id)}}" class="btn btn-outline-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}