{% extends 'base.html' %}

{% block title %} {{item.name}} Details {% endblock %}

{% block content %}
    <img src="{{item.image_url}}" alt="Photo of {{item.title}}"/>

    <h1 class="display-1">{{item.title}}</h1><br>
    <h3 class="display-3">From {{item.restaurant_chain}}</h3>

    <form method="POST" action="{{url_for('toggle_item_to_favorites', item_id=item.id)}}">
        <button class="btn btn-primary">
        {% if item in g.user.favorite_items %}
          Remove from Favorites <i class="fa-solid fa-star"></i> 
        {% else %}
          Add to Favorites <i class="fa-regular fa-star"></i>
        {% endif %}
        </button>
        <a class="btn btn-info" href="{{url_for('create_item_review', item_id=item.id)}}">
          Create a New Review <i class="fa-solid fa-comment"></i>
        </a>
    </form>

    <h3 class="display-3">All Reviews ({{item_reviews.count()}})</h3>
    <hr>

    {% if item_reviews.count() == 0 %}
      <p>There are no reviews currently for this menu item. <a class="btn btn-link" href="{{url_for('create_item_review', item_id=item.id)}}">Be the first to add one!</a></p>
    {% endif %}
    {% for review in item_reviews %}
      <h4 class="display-4">{{review.title}}</h4>
      <p>{{review.content}}</p>
      <p class="font-weight-light">By {{review.author.get_full_name()}}, created at {{review.created_at}}</p>
      {% if review.author.id == g.user.id %}
        <br>
        <form method="POST" action="{{url_for('delete_item_review', item_id=item.id, review_id=review.id)}}">
          <a class="btn btn-light" href="{{url_for('update_item_review', item_id=item.id, review_id=review.id)}}">
            Edit <i class="fa-solid fa-pencil"></i>
          </a>
          <button class="btn btn-danger">Delete</button>
        </form>

      {% endif %}
      <hr>
    {% endfor %}

{% endblock %}