{% extends 'base.html' %}

{% block title %} Vouch4Food - Change Location {% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
      <h2 class="display-2">Change Your Location Below.</h2>
      <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <div class="form-group">
            {{field.label}}
            {{field(class_="form-control")}}
          </div>
        {% endfor %}

        <button class="btn btn-success">Update Location</button>
        <a href="{{url_for('show_profile_info')}}" class="btn btn-outline-secondary">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}