{% extends 'base.html' %}

{% block title %} Vouch4Food - Change Location {% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="form-section col-md-10 col-lg-8">
      <h2 class="form-header display-2">Change Your Location Below.</h2>
      <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <div class="form-group">
            {{field.label}}
            {{field(class_="form-control")}}
          </div>
        {% endfor %}
        
        <div class="form-buttons">
          <button class="btn btn-success">Update Location</button>
          <a href="{{g.back_url}}" class="btn btn-outline-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}