{% extends 'base.html' %}

{% block title %} Vouch4Food - Login {% endblock %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="form-section col-md-10 col-lg-8">
        <h2 class="form-header display-2">Login to start Vouching 4 Food</h2>
        <form method="POST">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
                <p>
                    {% for error in field.errors %}
                        <p class="form-text text-danger">{{ error }}</p>
                    {% endfor %}
                    
                    {{ field.label }}
                    {{ field(class_="form-control") }}
                </p>
            {% endfor %}

            <div class="form-buttons">
                <a class="btn btn-danger" href="{{url_for('homepage')}}">Cancel</a>
                <button class="btn btn-success">Log In</button>
            </div>
        </form>
    </div>
  </div>

{% endblock %}