{% extends 'base.html' %}

{% block title %} Vouch4Food - Profile {% endblock %}

{% block content %}

<div class="banner container-fluid">
  <img class="main-picture" src="{{g.user.user_image_url}}" alt="{{g.user.get_full_name()}}'s profile picture"/>
</div>

<div class="profile-info container-fluid">
  <h4 class="display-4">Account Information</h4>

	<div class="profile-table-row row">
		<div class="col-lg-8 col-md-10 col-12">
			<table class="profile-table table table-striped">
				<tbody>
					<tr>
						<th scope="col">First name:</th>
						<th scope="col">{{g.user.first_name}}</th>
					</tr>
					<tr>
						<th scope="col">Last name:</th>
						<th scope="col">{{g.user.last_name}}</th>
					</tr>
					<tr>
						<th scope="col">Email:</th>
						<th scope="col">{{g.user.email}}</th>
					</tr>
					<tr>
						<th scope="col">Account created at:</th>
						<th scope="col">{{g.user.format_created_at()}}</th>
					</tr>
					{% if g.user.location_lat and g.user.location_long %}
					<tr>
						<th scope="col">Zip Code:</th>
						<th scope="col">{{g.user.address_zip}}</th>
					</tr>
					<tr>
						<th scope="col">Latitude:</th>
						<th scope="col">{{g.user.location_lat}}</th>
					</tr>
					<tr>
						<th scope="col">Longitude:</th>
						<th scope="col">{{g.user.location_long}}</th>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="welcome-links">
		<a class="btn btn-info" href="{{url_for('update_profile_form')}}">Update Profile Information</a>
		<a class="btn btn-warning" href="{{url_for('update_password')}}">Update Password</a>
		{% if g.user.location_lat and g.user.location_long %}
		<a class="btn btn-warning" href="{{url_for('update_location')}}">Update current location.</a>
		{% else %}
			<p>You do not yet have a current location.</p>
			<a class="btn btn-warning" href="{{url_for('update_location')}}">Set current location.</a>
		{% endif %}
	</div>
</div>

{% endblock %}